html, body {
  margin: 0;
  padding: 0;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

.grid {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}

.row {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

.name {
  color: #212121;
  font-size: 50px;
  margin-bottom: 0px;
  margin-right: 20px;
  text-align: right;
  text-transform: uppercase;
}

.accolade {
  color: #212121;
  font-size: 20px;
  margin-top: 0px;
  margin-right: 20px;
  text-align: right;
  text-transform: uppercase;
}

.logo {
    margin-left: 15px;
    margin-top: 25px;
}

.separator {
  border-left-color: transparent;
  border-right-color: transparent;
  border-top-color: transparent;
  border-bottom: 5px solid #BCBBBB;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  width: 100%;
}

.fill {
  height: 500px;
  width: 100%;
}

.featured {
  color: #BCBBBB;
  font-size: 30px;
  font-weight: bolder;
  margin-bottom: 20px;
  margin-left: 15px;
  margin-top: 0px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.work {
  color: #424242;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 0px;
  text-align: center;
  text-transform: uppercase;
}

.link {
  color: #616161;
  font-size: 15px;
  margin-top: 0px;
  text-align: center;
}
