* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.screenshot {
  max-width: 460px;
  padding-top: 24px;
  padding-right: 32px;
}

.description {
  max-width: 705px;
  padding-top: 24px;
  font-family: sans-serif;
  font-size: 35px;
  color: #7C8B88;
}

.app {
  display: flex;
}

.title {
  text-transform: uppercase;
  font-family: sans-serif;
  font-weight: lighter;
  font-size: 55px;
  background-color: #33BEBE;
  color: #FFFFFF;
  padding-left: 24px;
  padding-top: 32px;
}
