* {
  /*border: 1px solid;*/
}

hr {
  border-color: #D0C4AB;
  border-width: 5px;
}

.accolade {
  color: #131A2D;
  font-size: 20px;
  margin-top: 0px;
}

.background {
  background-color: #131A2D;
  padding-top: 15px;
}

.featured {
  color: #D0C4AB;
  font-size: 40px;
  margin-bottom: 40px;
  margin-top: 40px;
}

.link {
  color: #D0C4AB;
  font-size: 15px;
  font-family: 'Lato', sans-serif;
}

.logo {
  margin-top: 20px;
}

.margin {
  margin-bottom: 30px;
  margin-left: 5px;
  margin-right: 5px;
}

.name {
  color: #131A2D;
  font-family: 'Lato', sans-serif;
  font-size: 50px;
  font-weight: 900;
  margin-bottom: 5px;
}

.work {
  color: #D0C4AB;
  font-size: 45px;
  margin-bottom: 0px;
  margin-top: 10px;
}
